.App {
  font-family: sans-serif;
  text-align: center;
}
.mg {
  height: 230px;
  width: 150px;
  object-fit: center;
}
.ro{
display: flex;
flex-direction: row;
margin-left: 20px;
margin-bottom: 20px;
}
.col{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
margin-left: 20px;
}
.lor{
color:orange;
margin-top: 1rem;
}
h1,h2,h3{
  margin-top: 0px;
  gap: 1rem;
}
button{
  margin-bottom: 1rem;
}
.vacls{
margin-top: 1rem;
margin-right: 1rem;
}
.btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .bncs{
   margin-top:5rem;
 }
 .cent{
   margin-top: 0;
   margin-left:25rem;
 }
  .img1{
height:25rem;
 }
 .flexy{
   display: flex;
   justify-content: flex-start;
 }
 .imb{
   margin-left: 35rem;
 }
 iframe{
padding: 1rem;
 }