.App {
  font-family: sans-serif;
  text-align: center;
}
.mg {
  height: 150px;
  width: 150px;
  object-fit: center;
  /* border-radius: 50%; */
}
.ro{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
.col{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}